In [1]:
points=15
print(points)

15

In [2]:
price=15
print(price*3)

45

In [3]:
year=2023
print(year+5)

2028

In [4]:
x=8
print(x)
x=41
print(x)

8
41

In [5]:
age=42
age=24
print(age)

24

In [6]:
x=9
y=5
print(x*y)
print(x/y)

45
1.8

In [7]:
x=10
y=2
print(x+y)

12

In [8]:
#variable can have letters and numbers
#should not begin with an integer
#can have underscore
result=798
currency="$"
print("Total:",currency,result)

Total: $ 798

In [9]:
'''STORING DATA
Declare a number and output the value
'''
num=4
print(num*5)

20

In [10]:
'''FLIGHT TIME
You are present at the airport and you need to calculate the flight time of an upcoming trip. You are
flying from LA to Sydney, covering a distance of 7425 miles, and the plane flies at an average speed of
550 miles an hour.
'''
distance=7425
speed=550
print(distance/speed)

13.5